[Unit]
Description=ServerStatus Server
After=network-online.target remote-fs.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/usr/local/ServerStatus/server
EnvironmentFile=/usr/local/ServerStatus/server/config.conf
ExecStart=/usr/local/ServerStatus/server/sergate --config=/usr/local/ServerStatus/server/config.json --web-dir=/usr/local/ServerStatus/web --port=${PORT}
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5s
LimitNOFILE=51200

[Install]
WantedBy=multi-user.target
